@charset "utf-8";
/*松本さんの記述*/
.grid {
	animation-name: move-box;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 3s;
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box{
	from{
		margin-left: auto;
		width: 100%;
	}
	50%{
		margin-left:10%;
		width: 100%;
	}
	to{
		margin-left:auto;
		width: 100%;
	}
}
	
/*細かく左右に移動*/
.grid1{
	animation-name: move-box1;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 3s;
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box1{
	from{
		margin-left: auto;
		width: 100%;
	}
	10%{
		margin-left:2px;
		width: 100%;
	}
	20%{
		margin-left: auto;
		width: 100%;
	}
	30%{
		margin-left:2px;
		width: 100%;
	}
	40%{
		margin-left: auto;
		width: 100%;
	}
	50%{
		margin-left:2px;
		width: 100%;
	}
	60%{
		margin-left: auto;
		width: 100%;
	}
	70%{
		margin-left:2px;
		width: 100%;
	}
	80%{
		margin-left: auto;
		width: 100%;
	}
	90%{
		margin-left:2px;
		width: 100%;
	}
	to{
		margin-left:outo;
		width: 100%;
	}
}
	
/*細かく上下に移動*/
.grid2{
	animation-name: move-box2;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 3s;
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box2{
	from{
		margin-top: auto;
		width: 100%;
	}
	10%{
		margin-top:2px;
		width: 100%;
	}
	20%{
		margin-top: auto;
		width: 100%;
	}
	30%{
		margin-top:2px;
		width: 100%;
	}
	40%{
		margin-top: auto;
		width: 100%;
	}
	50%{
		margin-top:2px;
		width: 100%;
	}
	60%{
		margin-top: auto;
		width: 100%;
	}
	70%{
		margin-top:2px;
		width: 100%;
	}
	80%{
		margin-top: auto;
		width: 100%;
	}
	90%{
		margin-top:2px;
		width: 100%;
	}
	to{
		margin-top:outo;
		width: 100%;
	}
}



@keyframes grid0 {
  0% {transform:translate(0, 0) rotate(0deg);}
  21% {transform:translate(0, 0) rotate(0deg);}
 
  22% {transform:translate(0, 0) rotate(-3deg);}
  23% {transform:translate(0, -1px) rotate(0deg);}
  24% {transform:translate(0, -1px) rotate(3deg);}
 
  25% {transform:translate(1px, 0) rotate(-2deg);}
  26% {transform:translate(0, 1px) rotate(0deg);}
  27% {transform:translate(0, 0) rotate(3deg);}
 
  28% {transform:translate(0, 0) rotate(0deg);}
  100% {transform:translate(0, 0) rotate(0deg);}
}