@charset "utf-8";
/*松本さんの記述*/
.grid {
	animation-name: move-box;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 0s; /*3→０に変更*/
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box{
	from{
		margin-left: auto;
		width: 100%;
	}
	50%{
		margin-left:10%;
		width: 100%;
	}
	to{
		margin-left:auto;
		width: 100%;
	}
}
	
/*細かく左右に移動*/
.grid1{
	animation-name: move-box1;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 0s; /*3→０に変更*/
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box1 {
  0% { transform:translateX(0) }
  5% { transform:translateX(0) }
  10% { transform:translateX(0) }
  20% { transform:translateX(15px) }
  25% { transform:translateX(0) }
  30% { transform:translateX(15px) }
  50% { transform:translateX(0) }
  100% { transform:translateX(0) }
}

/*細かく上下に移動*/
.grid2{
	animation-name: move-box2;
	animation-duration: 1s;
	animation-timing-function:ease-in-out;
	animation-delay: 0s; /*3→０に変更*/
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box2 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

/*シーソー　ゆっくり*/
.grid3{
	animation-name: move-box3;
	animation-duration: 3s;
	animation-timing-function:ease-in-out;
	animation-delay: 0s; /*3→０に変更*/
	animation-iteration-count: infinite;　/*5→infiniteに変更*/
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes move-box3 {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}